:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #2B4759;
  transition: fade-in, 0.5s;
}



